{% extends 'agencia/base.html' %}
<!-- Contenido Principal -->


{% block content %}
<div class="container my-5">
        <h1 class="text-center mb-4">Planes de garantías</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
            
            <!-- Auto 1 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/600x400/2b3e50/ffffff?text=Garantia+Anual" class="card-img-top" alt="Garantía Anual">
                    <div class="card-body">
                        <h5 class="card-title">Garantia anual</h5>
                        <p class="card-text">Garantía por un año.</p>
                        <h6 class="text-primary fs-4 fw-bold">$18,500 MXN</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}