<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Concesionaria</title>
    <!-- Bootstrap / Bootswatch Tema Lux -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/lux/bootstrap.min.css">

</head>
<body>
    <!-- Renglón A: Navegación Superior -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
        <div class="container-fluid">
            <!-- Logo que redirecciona al inicio -->
            <a class="navbar-brand" href="{% url 'agencia:inicio' %}">
                <img src="https://w7.pngwing.com/pngs/40/772/png-transparent-car-dealership-alsa-enterprises-motors-used-car-vehicle-car-blue-text-hand-thumbnail.png" alt="LOGO AUTOS" height="85">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    {% for opcion in menu_a %}
                    <li class="nav-item">
                        <a class="nav-link {% if opcion == servicio_activo %}active text-info{% endif %}" 
                           href="{% url 'agencia:seccion' servicio=opcion %}">{{ opcion }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Cuerpo principal -->
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Columna B: Submenú Dinámico -->
            <div class="col-md-2">
                {% if opciones_b %}
                    <div class="list-group">
                        {% for subtema in opciones_b %}
                            <a href="{% url 'agencia:detalle' servicio=servicio_activo subtema=subtema %}" 
                            class="list-group-item list-group-item-action {% if subtema == subtema_activo %}active{% endif %}">
                                {{ subtema }}
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">Seleccione algún servicio del menú superior.</p>
                {% endif %}
            </div>

            <!-- Contenido Principal -->
            <div class="col-md-10">
                <div class="card p-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
